<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>evoWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FileUploadSvc</display-name>
    <servlet-name>FileUploadSvc</servlet-name>
    <servlet-class>com.web.action.FileUploadSvc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadSvc</servlet-name>
    <url-pattern>/FileUploadSvc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PopupSvc</display-name>
    <servlet-name>PopupSvc</servlet-name>
    <servlet-class>com.web.action.PopupSvc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopupSvc</servlet-name>
    <url-pattern>/PopupSvc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadXmlTestSvc</display-name>
    <servlet-name>ReadXmlTestSvc</servlet-name>
    <servlet-class>com.web.action.ReadXmlTestSvc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadXmlTestSvc</servlet-name>
    <url-pattern>/ReadXmlTestSvc</url-pattern>
  </servlet-mapping>
</web-app>